*.pbxproj   text eol=lf working-tree-encoding=UTF-8
*.plist     text eol=lf working-tree-encoding=UTF-8
*.xcconfig  text eol=lf working-tree-encoding=UTF-8
*.storyboard text eol=lf working-tree-encoding=UTF-8
*.xcscheme  text eol=lf working-tree-encoding=UTF-8
Podfile     text eol=lf working-tree-encoding=UTF-8
