# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Platform build artifacts
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/

# iOS
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle/
android/app/build/
android/local.properties

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase config (optional to commit)
# ios/Runner/GoogleService-Info.plist
# android/app/google-services.json
