#include "Generated.xcconfig"
IPHONEOS_DEPLOYMENT_TARGET=15.5
OTHER_CFLAGS=$(inherited)
OTHER_CPLUSPLUSFLAGS=$(inherited)
OTHER_LDFLAGS=$(inherited) -ObjC
GCC_PREPROCESSOR_DEFINITIONS=$(inherited)
SWIFT_ACTIVE_COMPILATION_CONDITIONS=$(inherited)
SWIFT_OPTIMIZATION_LEVEL=-Osize
ENABLE_BITCODE=NO
EXCLUDED_ARCHS[sdk=iphonesimulator*]=arm64
